*{box-sizing:border_box}

html {
    font-size:10px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .board {
    display: flex;
    background-color: red;
    justify-content: center;
    align-content: center;
    width: 400pt;
    height: 400pt;
  }


  .element {
    display: flex;
    background-color: black;
    justify-content: center;
    align-content: center;
    border-width: 10pt;
    border-style: solid;;
    border-color: blue;
    width: 100pt;
    height: 100pt;

  }